.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.skeleton {
  background-repeat: no-repeat;
  background-image: radial-gradient(circle 16px, white 99%, transparent 0),
    linear-gradient(white 40px, transparent 0),
    linear-gradient(gray 100%, transparent 0);
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 15px;
  padding: 15px;
}
.main-heading {
  text-align: center;
}
.item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.loader {
  display: grid;
  place-items: center;
  height: 100vh;
}
.filters {
  display: flex;
  justify-content: space-between;
  width: 70vw;
  margin: 2rem auto;
}
.each-filter {
  background-color: #62f5e7;
  padding: 0.5em 1em;
  color: #fff;
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
}
.each-filter.active {
  color: #008b8b;
}

/* Media Query */
@media screen and (max-width: 720px) {
  .item {
    max-width: 33%;
  }
}
@media screen and (max-width: 480px) {
  .item {
    max-width: 48.5%;
  }
}
@media screen and (max-width: 360px) {
  .item {
    max-width: 100%;
  }
}
